<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Turtles</title>
  </head>

  <body>

        <div class = "bot_btn_container btn-group btn-group-toggle" data-toggle=" buttons" id = "turtle_container">
        </div>
    
        <div>
            <button id="edit_toggle_btn" class="btn-secondary" onclick = "editor_toggle()"></button>
        </div>
    
         
      <div id="blocklyDiv" style="height: 420px; width: 620px;"></div>
      <div class="row">
        <div class="col"></div>
        <div class="col-6">
          <label for="speed" class="form-label">Speed</label>
          <input type="range" class="form-range" min="30" max="300" id="speed_range">        
        </div>
        <div class="col">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="draw_checkbox" checked>
            <label class="form-check-label" for="draw_checkbox">
              Draw
            </label>
          </div>
        </div>
      </div>
      <div>
          <button class="btn btn-primary" onclick = "run()">RUN</button>
          <button class="btn btn-success" onclick = "send()">Send to main</button>
      </div>
      <iframe id="phaser_frame" sandbox='allow-scripts allow-same-origin ' src="/javascripts/turtles/turtles_run.html" width="1080" height="500"></iframe>  
  </div>

</body>

<script src="/node_modules/blockly/blockly_compressed.js"></script>
<script src="/node_modules/blockly/javascript_compressed.js"></script>
<script src="/node_modules/blockly/blocks_compressed.js"></script>
<script src="/node_modules/blockly/msg/en.js"></script>
<script src="/javascripts/turtles/turtles_blocks/turtles_blocks.js"></script>
<script src="/javascripts/turtles/turtles_blocks/toolbox.js"></script>
<script src="/javascripts/turtles/turtles_player.js"></script></script>


</html>